{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SHARED</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">

    {% block headcontent %}
    {% endblock %}
  </head>
  <body>
    <header>
      <h1>SHARED</h1>
      <nav class="navbar navbar-fixed-top">
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    {% if messages %}
    <ul id="messages">
      {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
      Copyright 2017, BC Centre for Excellence in HIV/AIDS
    </footer>
  </body>
</html>
