{% extends "base.html" %}


{% block content %}

<h1>SHARED Project Contacts</h1>

<ul>
  <li>
    Principal Investigator, Dr. Richard Harrigan, Ph.D.
  </li>
    
  <li>
    Project Coordinator, Dr. Anita Howe, Ph.D.,
    <a href="mailto:ahowe@cfenet.ubc.ca">ahowe@cfenet.ubc.ca</a>
  </li>

  <li>
    Software Developer, Nathaniel Knight,
    <a href="mailto:nknight@cfenet.ubc.ca">nknight@cfenet.ubc.ca</a>
  </li>
</ul>


<h1>Contributors</h1>

<!-- TODO(nknight): contributors -->

{% endblock %}
