{% extends "base.html" %}

{% block content %}

<h1>Data Submission Process</h1>

The data submission process is documented in the SHARED Database Manual and with
published examples of appropriately formatted data.

<ul>
  <li><a href="">Overview of data submission process</a></li>
  <li>
    <a href="{% statcic '/submission/flat_scheme.html' %}">
      Details of the single-table data submission scheme
    </a>
  </li>
  <li>
    <a href="{% static 'manual/submission/multi_table_scheme.html' %}">
      Details of the multi-table data submission scheme
    </a>
  <li>
    <a href="https://github.com/neganp/shared_submission_format_examples">Example submission data</a>
  </li>
</ul>

{% endblock %}
