{% extends "base.html" %}

{% block content %}

<h1>Data Submission Process</h1>

The data submission process is documented in the SHARED manual and with
published examples of appropriately formatted data.

<ul>
    <li><a href="{{MANUAL_URL}}/submission/">Overview of data submission process</a></li>
    <li>
        <a href="{{MANUAL_URL}}/submission/flat_scheme.html">
            Details of the simplest data submission scheme
        </a>
    </li>
    <li>
        <a href="{{SUBMISSION_EXAMPLE_PAGE}}">Example submission data</a>
    </li>
</ul>

{% endblock %}
