{% extends "base.html" %}


{% block content %}

<p>
  The SHARED project is an international collaboration of physicians
  and researchers. It aims to build a database of clinical and genetic
  data to let us analyse drug resistance and treatment outcomes in
  ways that individual studies can't.
</p>

<ul>
  <li>
    To learn more about the SHARED project,
    see <a href="/about">About</a>, or download
    the <a href="static/doc/SHARED Study Protocol.pdf">Study
      Protocol</a>.
  </li>
  <li>
    To get in touch with the project coordinator,
    see <a href="/contact">Contact</a>.
  </li>
  <li>
    To contribute data to SHARED,
    see <a href="/contributing">Contributing</a>.
  </li>
</ul>

{% endblock %}
